# Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.

# Label encoding :
    It can be used when data doesnt have any order relationship with eachother
    if unique catagory value is higher and data is lesser then we can use label encoding
    
    ex:gender :
      male
      female
# Ordinal encoding:
    It can be used when data has relationship order
    ex:Feedback column;
        Good-1
        moderate-2
        bad-3

# Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.

# target guided ordinal encoding works based on target column,this method used to replace unique catagory value with target column value mean or median

# Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

# Covariance used to find the relationship b/w 2 set of columns,In statistical analysis its very much useful to select feautures ,

In [1]:
# cov(x,y)=sum(x-mean_of_x)*sum(y-mean_of_y)/(n-1)

# Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [9]:
color=["red","green","blue"]
size=["small","medium","large"]
material=["wood","metal","plastic"]
# label encoding
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [12]:
df=pd.DataFrame({"color":color,"size":size,"material":material})

In [15]:
encoder=LabelEncoder()
df["color_encoded"]=encoder.fit_transform(df["color"])

In [17]:
df["color_size"]=encoder.fit_transform(df["size"])

In [18]:
df["color_material"]=encoder.fit_transform(df["material"])

In [20]:
df

   color    size material  color_encoded  color_size  color_material
0    red   small     wood              2           2               2
1  green  medium    metal              1           1               0
2   blue   large  plastic              0           0               1

# Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

# By examining the covariance matrix, you can gain insights into the relationships between the variables

In [32]:
import numpy as np

# Sample data
Age = [25, 30, 35, 40, 45]
Income = [50000, 60000, 70000, 80000, 90000]
Education = [12, 14, 16, 18, 20]

In [29]:
df=pd.DataFrame({"Age":Age,"Income":Income,"Education":Education})
df.cov()

                Age       Income  Education
Age            62.5     125000.0       25.0
Income     125000.0  250000000.0    50000.0
Education      25.0      50000.0       10.0

# Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?

# In gender,Employment status ,they are nominal variables,so we can use One hot encoding or label encoding
# In education level it has order ,and its a ordinal variable so we can use ordinal encoding

# Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.

In [2]:
# encoding
# co variance
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
df=pd.DataFrame({"Temp":[1,2,3],
              "Hum":[4,5,6],
              "Weather":["sunny","cloudy","rainy"],
              "Wind":["north","south","east"]   
})
df

   Temp  Hum Weather   Wind
0     1    4   sunny  north
1     2    5  cloudy  south
2     3    6   rainy   east

In [10]:
print(df["Weather"])
print(df["Wind"])
# we should do label encoding for above 2 categorical varibales

0     sunny
1    cloudy
2     rainy
Name: Weather, dtype: object
0    north
1    south
2     east
Name: Wind, dtype: object

In [16]:
# lebel encoding
encoder_obj=LabelEncoder()
df["Weather_encoded"]=encoder_obj.fit_transform(df["Weather"])
df["Wind_encoded"]=encoder_obj.fit_transform(df["Wind"])

In [18]:
df

   Temp  Hum Weather   Wind  Weather_encoded  Wind_encoded
0     1    4   sunny  north                2             1
1     2    5  cloudy  south                0             2
2     3    6   rainy   east                1             0

In [20]:
df.cov()

/tmp/ipykernel_5499/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                 Temp  Hum  Weather_encoded  Wind_encoded
Temp              1.0  1.0             -0.5          -0.5
Hum               1.0  1.0             -0.5          -0.5
Weather_encoded  -0.5 -0.5              1.0          -0.5
Wind_encoded     -0.5 -0.5             -0.5           1.0

#