# Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd

lis=[1,2,3,4,5,6]
s=pd.Series(lis)
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
h=pd.DataFrame(lis)
h

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [6]:
h.columns

RangeIndex(start=0, stop=1, step=1)

In [8]:
h.describe

<bound method NDFrame.describe of    0
0  1
1  2
2  3
3  4
4  5
5  6>

In [9]:
h.dtypes

0    int64
dtype: object

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [22]:
dict_value={
    "A":["shan","mani"],
    "B":["shan","mani"],
    "C":["shan","mani"],
    
}
dic_df=pd.DataFrame(dict_value)

In [30]:
dic_df

      A     B     C  index
0  shan  shan  shan      1
1  mani  mani  mani      3

In [29]:
dic_df["index"]=[1,3]

In [31]:
dic_df.set_index("index")

          A     B     C
index
1      shan  shan  shan
3      mani  mani  mani

# Q3. You have a Pandas DataFrame df with a column named 'Values'. 

 # Write a Python function that iterates over the DataFrame and calculates the 
 
 # sum of the first three values in the 'Values' column. The function should 
 
 # print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
 
 # calculate and print the sum of the first three values, which is 60.

In [36]:
dict_val={
    "values":[10, 20, 30, 40, 50],
}
df=pd.DataFrame(dict_val)
df

   values
0      10
1      20
2      30
3      40
4      50

In [64]:
df2=df[0:3]
j=0
sum=0
for i in df2.iteritems():
    for j in range(len(df2)):
        sum=sum+i[1][j]     
        
print(sum)

60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [96]:
dict_val3={
    "text":["hai how are you?","hai i am good ,how about you?","yes i am good","yes i am good"],
}
df2=pd.DataFrame(dict_val3)
df2["word count"]=df2["text"].apply(lambda x:len(x.split()))

In [99]:
df2

                            text  word count
0               hai how are you?           4
1  hai i am good ,how about you?           7
2                  yes i am good           4
3                  yes i am good           4

# Q5. How are DataFrame.size() and DataFrame.shape() different?

In [103]:
df2.size
# total items

8

In [102]:
df2.shape
# no.of rows and columns

(4, 2)

# Q6. Which function of pandas do we use to read an excel file?

In [ ]:
pd.read_excel("text.xlsx")

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' 
 
 that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new 
 
 column 'Username' in df that contains only the username part of each email address.


The username is the part of the email address that appears before the '@' symbol. For example, if the

email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your

function should extract the username from each email address and store it in the new 'Username'

column.

In [116]:
dict_val4={
    "text":["a@gmail.com","b@gmail.com","c@gmail.com"],
}
def define(x):
    y=x.split("@")
    return y[0]
    
    
df4=pd.DataFrame(dict_val4)
df4["username"]=df4["text"].apply(define)
print(df4)

          text username
0  a@gmail.com        a
1  b@gmail.com        b
2  c@gmail.com        c

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2


Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows

In [130]:
dict_val4={
    "A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]
}
# A >5
# B<10
df4=pd.DataFrame(dict_val4)
# we cant use and  gate here i mean in letters
df4[(df4["A"]>5) & (df4["B"]<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [136]:
dict_val={
    "values":[10, 20, 30, 40, 50],
}
df=pd.DataFrame(dict_val)
print(df.mean())

print(df.median())

print(df.std())

values    30.0
dtype: float64
values    30.0
dtype: float64
values    15.811388
dtype: float64


# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 
  'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the 

sales for the past 7 days


for each row in the DataFrame. The moving average should be calculated using a window of size 7 and

should include the current day

In [ ]:
# sales ,date -col
# new -movingAvg

# past 7 days
# windows size 7 

# should include current day

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [145]:
import pandas as pd


date = pd.DataFrame({'inputDates':['2023-01-01', '2023-01-02',
								'2023-01-03', '2023-01-04 ',
								'2023-02-05  '],})

date['inputDates'] = pd.to_datetime(date['inputDates'])

date['dayOfWeek'] = date['inputDates'].dt.day_name()

date

  inputDates  dayOfWeek
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-02-05     Sunday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains 

timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [156]:
date[(date["inputDates"] >"2023-01-01") & (date["inputDates"] < "2023-01-31")]

  inputDates  dayOfWeek
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
import pandas as pd