In [1]:
# find variance
# find std

In [2]:
# Two methods 
# numpy
# pandas

In [4]:
import numpy as np
import pandas as pd
import seaborn as sb

In [15]:
data=sb.load_dataset('iris').head()
data.drop(columns="species",inplace=True)
data

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [16]:
# variance column wise axis=0

np.var(data)

sepal_length    0.0344
sepal_width     0.0536
petal_length    0.0040
petal_width     0.0000
dtype: float64

In [18]:
# variance row wise axis=1

np.var(data,axis=1)

0    3.562500
1    3.111875
2    2.992500
3    2.742500
4    3.487500
dtype: float64

In [20]:
# std column wise default axis=0

np.std(data)

sepal_length    0.185472
sepal_width     0.231517
petal_length    0.063246
petal_width     0.000000
dtype: float64

In [22]:
# std row wise default axis=1

np.std(data,axis=1)

0    1.887459
1    1.764051
2    1.729884
3    1.656050
4    1.867485
dtype: float64

In [24]:
# In pandas

In [27]:
data.var()

sepal_length    0.043
sepal_width     0.067
petal_length    0.005
petal_width     0.000
dtype: float64

In [28]:
data.std()

sepal_length    0.207364
sepal_width     0.258844
petal_length    0.070711
petal_width     0.000000
dtype: float64