# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# Database used to store the data's

## SQL- structured query language -used to store data in structured way  ex.mysql,mssql,db2,sqllite

## NOsql -Not only sql,-used to store data in non strtured way -ex.Mongodb,Cassandra

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL - data definition language ,used to define database operations like
ex. create database database_name

   drop database database_name
   
   alter table table_name modify colname new_colname datatype(length) constraints
   
   truncate database database_name -used to delete all data but not its struture

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# Dml -data manipulation language 
# insert data -insert into table  table_name(colname1,colname2) values(value1,value2)
# update data -update table set colname=colvalue where id=1
# delete data -delete from table_name where id=2

# Q4. What is DQL? Explain SELECT with an example.

# Data Query Language. -used to select valules from table

# select * from table_name  -used to select all values from table

# Q5. Explain Primary Key and Foreign Key.

# primary key -allow only unique and not null values

# foreign key - used to make connection with primary key column

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

# Q7. Give the order of execution of SQL clauses in an SQL query.

# SQL query execution order means optimizing our search results from the database or where the query clauses are evaluated according to the requirements.

Like how we plan something step by step and reach the final result, similarly, we use clauses in a particular order known as the SQL query execution order. Here is the table that shows the order in which the clauses are used.

# Order	Clause	Function
           1	FROM	Tables are joined to get the base data.
           2	WHERE	The base data is filtered.
           3	GROUP BY	The filtered base data is grouped.
           4	HAVING	The grouped base data is filtered.
           5	SELECT	The final data is returned.
           6	ORDER BY	The final data is sorted.
           7	LIMIT	The returned data is limited to row count.
Let us assume the following two tables: Customers and Orders.