In [42]:
value="shan"
" ".join(value)
value.split(' s')

# tab used to show all functions if we click after . in value
# shift+tab used to explain what function for when we click shift+tab after () brackets in function

['shan']

In [9]:
# convert string into list
check=list(value)

ValueError: empty separator

In [13]:
# if we want to split based on delimiter or seperator then we can use this split function
value="s h a n"
value.split(" ")

['s', 'h', 'a', 'n']

In [17]:
# or else we can use list function directly without sepeartor or delimiter
value="shan"
print(list(value))
value2="s h a n"
print(list(value2))

['s', 'h', 'a', 'n']
['s', ' ', 'h', ' ', 'a', ' ', 'n']

In [ ]:
# how to convert list into string ,

In [33]:
list_value=["s","h","a","n"]
list_string="+".join(list_value)
# join work like first it will go turough every values and take value before join function and produce output
print(list_string)
type(list_string)

s+h+a+n

str

In [40]:
print(list_string,end="shan")
# end parameter used to put the value at end

s+h+a+nshan

In [44]:
list_string.replace("h","-")

's+-+a+n'

In [47]:
# we can replce values but it doesnt affect original one only get copy

In [50]:
print("sha \n n"+"\n"+"mani")
# \n used to print values in new line

sha
 n
mani

In [52]:
print("shan\tmani")
# \t used to put space b/w words

shan	mani

In [54]:
str1="Welcome to pwskills.Welcome to Dat cience Masters"
str1.replace("Dat","Data").replace("cience","Science")

'Welcome to pwskills.Welcome to Data Science Masters'

In [59]:
str1=" "
str1.isspace()
# used to check given string empty or not

True

In [60]:
str1="shan"
for i in str1:
    print(i)

s
h
a
n

In [73]:
a=["s","h","a"]

for i in "shan":
    print(i)

s
h
a
n

In [75]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [83]:
a=["s","h","a","n","a"]
for i in range(len(a)-1,-1,-1):
#     4,-1,-1
    print(a[i])

a
n
a
h
s

In [84]:
a="shan"
# another way to print
ch=len(a)-1
while(ch>=0):
    print(a[ch])
    ch=ch-1

n
a
h
s