# Q1. What is Min-Max scaling, and how is it used in data preprocessing? Provide an example to illustrate its
application.

# Min-Max scaling:
    its a technique used to convert dataset into scale b/w 0,1 .so when we do this type of scaling ,model will not bias into certain values or feature.

In [50]:
# example:
# this is for standardization
from sklearn.preprocessing import StandardScaler

# this is for min max scaler
from sklearn.preprocessing import MinMaxScaler
# this is for normalize or unit vector scaler
from sklearn.preprocessing import normalize

In [17]:
min_max=MinMaxScaler()

In [16]:
#  StandardScaler()-standardization
# MinMaxScaler()-normalization
# normalize()-

In [47]:
import seaborn as sb
import pandas as pd
data=sb.load_dataset('tips')
bill=data['total_bill']

df=pd.DataFrame(min_max.fit_transform(data[['total_bill']]),columns=['bill'])
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [48]:
data=sb.load_dataset('tips')
bill=data['total_bill']

df=pd.DataFrame(normalize(data[['size']]),columns=['bill'])
df.head()

   bill
0   1.0
1   1.0
2   1.0
3   1.0
4   1.0

# Q2. What is the Unit Vector technique in feature scaling, and how does it differ from Min-Max scaling?
Provide an example to illustrate its application.

# Min Max scaling:
    technique used to convert numerical data into within 0,1.
# Unit vector scaling :
    used to convert numerical data into unit vector .
    The unit vector technique standardizes the length of feature vectors to 1,

# Q3. What is PCA (Principle Component Analysis), and how is it used in dimensionality reduction? Provide an example to illustrate its application.

# PCA:
#     pca is a method used in feature extraction used to reduce the dimensions of features by plot the plan b/w multiple points and make common data line and create a dataset .so we can get reduced dimensions by eliminating multiple dimensions with less amount of loss of data

# PCA involves 
    standardizing the data, 
    computing the covariance matrix, 
    performing eigendecomposition, 
    selecting principal components, 
    and transforming the data.
# By choosing a subset of principal components, PCA reduces the dimensionality of the dataset while retaining essential information.

# Q4. What is the relationship between PCA and Feature Extraction, and how can PCA be used for Feature Extraction? Provide an example to illustrate this concept.

# PCA and feature extraction are closely related concepts. Feature extraction refers to the process of transforming the original dataset into a new set of features or representations that capture the most relevant information for a particular task. PCA can be used as a feature extraction technique to identify and extract the most informative features from a high-dimensional dataset.

In the context of PCA, the principal components obtained through eigendecomposition represent a set of new features that are linear combinations of the original features. These principal components are ranked in order of the variance they explain in the data, with the first principal component capturing the maximum variance. By selecting a subset of principal components, we can effectively extract a reduced-dimensional set of features that retain most of the important information.

An example can help illustrate how PCA can be used for feature extraction:

Let's consider a dataset with 1000 images, each represented by a vector of 1000 pixels. Each pixel is considered as a feature, resulting in a high-dimensional dataset. However, not all pixels contribute equally to the overall variance and information in the images. Some pixels may be correlated or contain redundant information.

We can apply PCA to extract the most important features from these images. The steps involved would be similar to the ones mentioned earlier:

1. Standardize the data: Standardize the pixel values across all images to ensure they have a similar scale.

2. Compute the covariance matrix: Calculate the covariance matrix to understand the relationships between different pixels.

3. Perform eigendecomposition: Find the eigenvectors and eigenvalues of the covariance matrix.

4. Select principal components: Sort the eigenvalues in descending order and choose the top k eigenvectors that correspond to the highest eigenvalues.

5. Transform the data: Project the original image data onto the selected principal components to obtain the reduced-dimensional representation.

After applying PCA, we have obtained a reduced set of principal components, which can be viewed as the most informative features. These principal components capture the major patterns and variances present in the images. By using a subset of these principal components, we effectively extract a lower-dimensional representation of the original images, reducing the computational complexity while preserving the most essential information.

In this example, PCA serves as a feature extraction technique, enabling us to identify and extract the most relevant features from high-dimensional image data. These extracted features can then be used for various tasks such as image classification, object recognition, or further analysis.

# Q5. You are working on a project to build a recommendation system for a food delivery service. The dataset
contains features such as price, rating, and delivery time. Explain how you would use Min-Max scaling to
preprocess the data.

In [55]:
import seaborn as sb
import pandas as pd

In [70]:
price=[100,200,300]
rating=[5,4,2]
delivery_time=[1,2,3]

df=pd.DataFrame({"price":price,"rating":rating,"del_time":delivery_time})
df

   price  rating  del_time
0    100       5         1
1    200       4         2
2    300       2         3

In [77]:
# min max scaler
from sklearn.preprocessing import MinMaxScaler as MM
mm_obj=MM()

In [120]:
ex=pd.DataFrame(mm_obj.fit_transform(df[['price','rating','del_time']]),columns=['price','rating','del_time'])

# Q6. You are working on a project to build a model to predict stock prices. The dataset contains many features, such as company financial data and market trends. Explain how you would use PCA to reduce the
dimensionality of the dataset.

# 1.features scaling
    2.covariance matrix
    3.eigent components
    4.eigent vectors,values
    5.based on values find desc of vectors
    6.choose top k vectors
    7.find principal components
    8.transform the components
    9.finaly we can reduce features to perform the model analaysis

# Q7. For a dataset containing the following values: [1, 5, 10, 15, 20], perform Min-Max scaling to transform the
values to a range of -1 to 1.

In [98]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler(feature_range=(-1,1))

In [111]:
data=[[1, 5, 10, 15, 20]]
sclaed=mm.fit_transform(data)

sclaed

array([[-1., -1., -1., -1., -1.]])

In [118]:
import numpy as np
scaled_data = np.reshape(sclaed,(-1,1))
pd.DataFrame(scaled_data)

     0
0 -1.0
1 -1.0
2 -1.0
3 -1.0
4 -1.0

# Q8. For a dataset containing the following features: [height, weight, age, gender, blood pressure], perform
Feature Extraction using PCA. How many principal components would you choose to retain, and why?

In [129]:
from sklearn.decomposition import PCA

In [135]:
pca=PCA(n_components=1)

In [140]:
new_ex=pca.fit_transform(ex)
pd.DataFrame(new_ex)

          0
0 -0.833671
1 -0.064679
2  0.898350

In [139]:
ex

   price    rating  del_time
0    0.0  1.000000       0.0
1    0.5  0.666667       0.5
2    1.0  0.000000       1.0